<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>TFC.tv</key>
		<dict>
			<key>URLPatterns</key>
			<array>
                <string>^https?://tfc.tv/episode/details/[0-9]+/?</string>
                <string>^https?://tfc.tv/live/details/[0-9]+/?</string>
			</array>
		</dict>
	</dict>
	<key>PlexFrameworkFlags</key>
	<array/>
</dict>
</plist>
